{% extends "footer.html" %} {% block Footercontent %}

<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/404.css') }}"
    />
  </head>
  <body>
    <div id="particles-js"></div>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/particles.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/form-background.js') }}"
    ></script>
    <div class="header">
      <span class="titleText"></span>
    </div>
    <span class="errorText">{{ error }}</span>
    <script>
      function typeWriter(txt, speed, i = 0) {
        if (i < txt.length) {
          document.getElementsByClassName("titleText")[0].textContent +=
            txt.charAt(i);
          i++;
          setTimeout(() => typeWriter(txt, speed, i), speed);
        }
      }
      function typeDelete(txt, speed, i = txt.length) {
        if (i >= 0) {
          document.getElementsByClassName("titleText")[0].innerHTML =
            txt.substring(0, i);
          i--;
          setTimeout(() => typeDelete(txt, speed, i), speed);
        }
      }
      old = "";
      function run() {
        var titles = ["404 Page not found", "Mistyped?", "Not Found"];
        var txt = titles[Math.floor(Math.random() * titles.length)];
        typeDelete(
          document.getElementsByClassName("titleText")[0].textContent,
          25
        );

        while (txt == old) {
          txt = titles[Math.floor(Math.random() * titles.length)];
          setTimeout(() => {
            console.log("hi");
          }, 200);
        }
        console.log(txt);
        if (document.getElementsByClassName("titleText")[0].textContent == "") {
          old = txt;
          typeWriter(txt, 75);
          setTimeout(() => run(), 10000);
        } else {
          setTimeout(() => run(), 500);
        }
      }
      run();
    </script>
  </body>
</html>
{% endblock %}
