{% extends "sidebar.html" %} {% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>Admin Panel</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/admin.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    />
  </head>
  <body>
    <nav>
      <a class="active" onclick="showContent('content1', this)"
        >User Accounts</a
      >
      <a onclick="showContent('content2', this)">Action 2</a>
      <a onclick="showContent('content3', this)">Action 3</a>
      <a onclick="showContent('content4', this)">Action 4</a>
      <a class="logout" onclick="logout()">Logout</a>
    </nav>
    <div class="main">
      <div id="content1">
        <input
          type="text"
          id="searchInput"
          placeholder="Search..."
          onkeyup="searchDatabase()"
        />
        <table id="databaseTable">
          <thead>
            <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Password</th>
              <th>Creation Date</th>
              <th>Permission Level</th>
              <th>Account Type</th>
              <th>Session Token</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id="tableBody">
            <!-- Database records will be dynamically added here -->
          </tbody>
        </table>
        <div id="pagination">
          <button onclick="previousPage()">Previous</button>
          <span id="currentPage">1</span>
          <button onclick="nextPage()">Next</button>
        </div>
        <button onclick="showAddForm()">Add New Record</button>
        <div id="addForm" style="display: none">
          <h3>Add New Record</h3>
          <input type="text" id="usernameInput" placeholder="Username" />
          <input type="password" id="passwordInput" placeholder="Password" />
          <select id="permissionLevelInput">
            <option value="None">Select Permission Level</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
          </select>
          <input type="text" id="accountTypeInput" placeholder="Account Type" />
          <button id="addButton" onclick="addRecord()">Add</button>
          <button onclick="cancelAdd()">Cancel</button>
        </div>
      </div>
      <div id="editForm" style="display: none">
        <h3>Edit Record</h3>
        <input type="text" id="editUsernameInput" placeholder="Username" />
        <input type="password" id="editPasswordInput" placeholder="Password" />
        <input
          type="date"
          id="editCreationDateInput"
          placeholder="Creation Date"
        />
        <input
          type="number"
          id="editPermissionLevelInput"
          placeholder="Permission Level"
        />
        <input
          type="text"
          id="editAccountTypeInput"
          placeholder="Account Type"
        />
        <input
          type="text"
          id="editSessionTokenInput"
          placeholder="Session Token"
        />
        <button id="updateButton">Update</button>
        <button onclick="cancelEdit()">Cancel</button>
      </div>
      <div id="content2" style="display: none">
        <h1>Action 2 Content</h1>
        <p>This is the content for Action 2.</p>
      </div>
      <div id="content3" style="display: none">
        <h1>Action 3 Content</h1>
        <p>This is the content for Action 3.</p>
      </div>
      <div id="content4" style="display: none">
        <h1>Action 4 Content</h1>
        <p>This is the content for Action 4.</p>
      </div>
    </div>
    <script>
      function showContent(contentId, button) {
        var contentAreas = document.getElementsByClassName("main")[0].children;
        for (var i = 0; i < contentAreas.length; i++) {
          contentAreas[i].style.display = "none";
        }
        document.getElementById(contentId).style.display = "block";
        var buttons = document.getElementsByTagName("a");
        for (var i = 0; i < buttons.length; i++) {
          if (buttons[i] == button) {
            buttons[i].classList.add("active");
          } else {
            buttons[i].classList.remove("active");
          }
        }
      }
      function logout() {
        fetch("/logout", {
          method: "POST",
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              alert("Logged out successfully!");
              window.location.href = "/";
            }
          });
      }
      var database;
      var currentPage = 1;
      var recordsPerPage = 8;
      fetch('/get_database')
        .then(response => response.json())
        .then(data => {
          database = data;
          displayDatabase();
        })
        .catch(error => {
          console.error('Error:', error);
        });
      

      function searchDatabase() {
        var searchInput = document.getElementById("searchInput");
        var searchTerm = searchInput.value.toLowerCase();

        var filteredDatabase = database.filter(function (record) {
          return (
            record[1].toLowerCase().includes(searchTerm) ||
            record[5].toLowerCase().includes(searchTerm) ||
            record[6].toLowerCase().includes(searchTerm)
          );
          // Add any other fields you want to search by
        });

        displayDatabase(filteredDatabase);
      }

      function displayDatabase(databaseToDisplay) {
        if (!databaseToDisplay) {
          databaseToDisplay = database;
        }
        console.log(databaseToDisplay)
        var tableBody = document.getElementById("tableBody");
        tableBody.innerHTML = "";

        var startIndex = (currentPage - 1) * recordsPerPage;
        var endIndex = startIndex + recordsPerPage;
        var currentRecords = databaseToDisplay.slice(startIndex, endIndex);

        for (var i = 0; i < currentRecords.length; i++) {
          var record = currentRecords[i];

          var row = document.createElement("tr");
          row.id = `${record[0]}`
          row.innerHTML = ` 
          <td contenteditable="false">${record[0]}</td> 
          <td contenteditable="true">${record[1]}</td> 
          <td contenteditable="true">${record[2]}</td> 
          <td contenteditable="false">${record[3]}</td> 
          <td contenteditable="true">${record[4]}</td> 
          <td contenteditable="true">${record[5]}</td> 
          <td contenteditable="true">${record[6]}</td> 
          <td> 
            <p><button onclick="saveChanges(${record[0]})" id = "save"><i class="glyphicon glyphicon-floppy-saved"></i></button></p>
              
              <p><button onclick="deleteRecord(${record[0]})" id = "trash"><i class="w3-margin-left glyphicon glyphicon-trash"></i></button></p>
              
          </td> 
    `;

          tableBody.appendChild(row);
        }

        updatePagination();
      }

      function saveChanges(accountId) {
        var record = database.find(function (record) {
          return record[0] === accountId;
        });
        console.log(record)
        if (record) {
          var row = document.getElementById(record[0])
          console.log(row)
          var cells = row.children;

          record[0] = parseInt(cells[0].textContent);
          record[1] = cells[1].textContent;
          record[2] = cells[2].textContent;
          record[3] = cells[3].textContent;
          record[4] = cells[4].textContent;
          record[5] = cells[5].textContent;
          record[6] = cells[6].textContent;
          
          fetch('/update_database?type=edit&database=account', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ record: record })
          })
            .then(response => {
              if (response.ok) {
                // Handle successful response
                console.log('Data updated successfully');
                displayDatabase();
              } else {
                // Handle error response
                console.error('Error updating data');
              }
            })
            .catch(error => {
              // Handle network error
              console.error('Network error', error);
            });
        }
          displayDatabase();
        }
      

      function updatePagination() {
        var currentPageElement = document.getElementById("currentPage");
        currentPageElement.textContent = currentPage;
      }

      function previousPage() {
        if (currentPage > 1) {
          currentPage--;
          displayDatabase();
        }
      }

      function nextPage() {
        var totalPages = Math.ceil(database.length / recordsPerPage);
        if (currentPage < totalPages) {
          currentPage++;
          displayDatabase();
        }
      }

      function addRecord() {
        var usernameInput = document.getElementById("usernameInput");
        var passwordInput = document.getElementById("passwordInput");
        // Add inputs for the new fields
        var permissionLevelInput = document.getElementById(
          "permissionLevelInput"
        );
        var accountTypeInput = document.getElementById("accountTypeInput");

        if (
          usernameInput.value === "" ||
          passwordInput.value === "" ||
          creationDateInput.value === "" ||
          permissionLevelInput.value === "None" ||
          accountTypeInput.value === "" 
        ) {
          alert("Fill in all the fields!");
          return;
        }
        var newRecord = [
          database.length + 1, // Generate a new unique ID
          usernameInput.value,
          passwordInput.value,
          new Date().toISOString().split("T")[0],
          permissionLevelInput.value,
          accountTypeInput.value,
          "",
      ];

        database.push(newRecord);
        usernameInput.value = "";
        passwordInput.value = "";
        permissionLevelInput.value = "Select Permission Level";
        accountTypeInput.value = "";

        displayDatabase();
      }

      function showAddForm() {
        var addForm = document.getElementById("addForm");
        
        addForm.style.display = "";
        addForm.scrollIntoView({ behavior: 'smooth' });
      }

      function deleteRecord(accountId) {
        var index = database.findIndex(function (record) {
          return record[0] === accountId;
        });

        if (index !== -1) {
          database.splice(index, 1);
          displayDatabase();
        }
      }

      function cancelAdd() {
        var usernameInput = document.getElementById("usernameInput");
        var passwordInput = document.getElementById("passwordInput");
        var creationDateInput = document.getElementById("creationDateInput");
        var permissionLevelInput = document.getElementById(
          "permissionLevelInput"
        );
        var accountTypeInput = document.getElementById("accountTypeInput");
        var sessionTokenInput = document.getElementById("sessionTokenInput");

        usernameInput.value = "";
        passwordInput.value = "";
        creationDateInput.value = "";
        permissionLevelInput.value = "";
        accountTypeInput.value = "";
        sessionTokenInput.value = "";

        var addButton = document.getElementById("addButton");
        addButton.innerHTML = "Add";

        var addForm = document.getElementById("addForm");
        addForm.style.display = "none";
      }

      
    </script>
  </body>
</html>
{% endblock %}
