nav {
  background-color: #111214;
  height: 100%;
  position: fixed;
  left: 0;
  width: 200px;
  overflow-x: hidden;
  padding-top: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
nav a {
  display: block;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
nav a:hover {
  background-color: #1d2025;
}
nav a.active {
  background-color: #1b9cfc;
  color: white;
}

.logout {
  position: absolute;
  display: block;
  color: rgb(211, 38, 38);
  bottom: 4rem;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
}

.main {
  top: 5rem;
  margin-left: 200px;
  padding: 20px;
  height: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#content1 {
  padding: 20px;
}

#searchInput {
  margin-right: 10px;
}

#databaseTable {
  width: 100%;
  border-collapse: collapse;
}

#databaseTable th,
#databaseTable td {
  padding: 8px;
  border: 1px solid #ccc;
}

#addForm {
  margin-top: 20px;
}
