
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  height: 100vh;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
}

.header h1 {
  background-image: linear-gradient(to left, #5428bd, #1B9CFC);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: Nexa;
  letter-spacing: 0.2rem;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  text-align: right;
  padding-right: 1em;
}


a[href="/login"] {
  color: #1B9CFC;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  width: 300px;
  padding: 10px;
  border: none;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 20px;
  transition: width 0.3s ease-in-out;
}

h1 {
  font-size: 48px;
  margin: 0;
  padding: 30px 0;
  text-align: center;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 10px;
  width: 200px;
  transition: transform 0.3s ease-in-out;
}

input {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  width: 100%;
  box-sizing: border-box;

}

input:focus {
  transform: scale(1.01);
}

input[type="submit"]:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

#signup-error {
  color: red;
  text-align: center;
}

#signup-error.error {
  color: red;
}
#signup-error.success {
  color: green;
}

